.barra-lateral
	background: #262a34
	color: #fff
	min-width: 300px
	min-height: 100vh //100% de lo que es el alto del navegador
	padding: 0
	a
		color: #fff
	.logo
		background: $aquamarina
		margin-bottom: 2px
		justify-content: center
		.imagen
			text-align: center
			padding: 2em
		img
			text-align: center
			width: 200px
	.menu 
		a
			display: block
			padding: 20px
			font-family: 'Roboto', sans-serif
			font-weight: 500
			border-bottom: 1px solid rgba(255,255,255,.1)
			&:hover
				background: $aquamarina
				text-decoration: none
			i
				margin-right: 20px
				font-weight: normal