.header-billetera-comercio
	background: url('../img/fondobilletera.jpg')
	background-size: 100%
	background-repeat: no-repeat
	margin: auto
	width: 100%
	height: 300px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	.icono-izquierda
		width: 10%
		display: flex
		justify-content: flex-start
		flex-direction: row
		color: #fff
		font-size: 1.2em
	.saldo
		width: 35%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-end
		p
			padding-top: 2em
			font-size: 2em
			font-weight: 400
			font-family: $font-family2
			color: #fff
	.imagen
		width: 55%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		padding-top: 4em
		img
			width: 200px
			height: 50px
	.monto
		width: 50%
		display: flex
		flex-direction: row
		justify-content: flex-end
		margin-top: -4em
		p
			font-size: 4em
			font-weight: 700
			font-family: $font-family2
			color: #fff
	.imagen2
		width: 50%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		margin-top: -2.8em
		img
			width: 50px
			height: 50px
