.header-billetera
	background: url('../img/fondobilletera.jpg')
	background-size: 100%
	background-repeat: no-repeat
	overflow: hidden
	height: 220px
	.money-user
		width: 100vw
		height: 40vh
		.contenedor
			text-align: center
			.icono-izquierda
				display: flex
				justify-content: flex-start
				color: #fff
				font-size: 1.2em
			.texto
				.saldo
					font-size: 2em
					font-weight: 400
					font-family: $font-family2
					color: #fff
					margin-bottom: -0.6em
				.monto
					font-size: 4em
					font-weight: 700
					font-family: $font-family2
					color: #fff
					margin-bottom: -0.15em
				.info
					font-family: $font-family2
					font-size: 0.8em
					color: #fff

