header
	.header-movimientos
		.barra
			padding-top: 0.68em
			padding-bottom: 0.68em
			.icono-izquierda
				display: flex
				justify-content: flex-start
				padding-top: 0.2em
				a
					i
						color: #fff
						font-size: 1.3em
			.titulo
				color: #fff
				font-weight: 400
				font-size: 1.5em