.header
	width: 100vw
	height: 15vh
	background: $grisclaro
	border-bottom: 0.12em solid $grisintermedio
	.chat-header
		padding: 0.6em
		display: flex
		font-size: 1.06em
		.icono-izquierda
			display: flex
			justify-content: flex-start
			font-size: 1.2em
			font-weight: 400
			color: $azulcielo
		.imagen
			display: flex
			justify-content: flex-end
			padding-top: 0.2em
			padding-bottom: 0.2em
			img
				width: 3em
				height: 3em
		.titulo
			font-weight: 700
			font-family: $font-family2
			padding-top: 0.7em
			display: flex
			justify-content: flex-start
		.icono-derecha
			padding-top: 0.7em
			padding-left: 7em
		.barra-lateral-chat
			width: 13em
			position: fixed
			padding: 0
			top: 3.3em
			right: 1em
			z-index: 100
			background: #fff
			border-radius: 1em
			transform: translateX(150%)
			transition: all .4s ease
			&.active
				transform: translateX(0%)
			nav
				padding: 0.5em
				border-radius: 2em
				a
					display: block
					display: flex
					justify-content: flex-start
					padding: 2px
					font-family: $font-family2
					color: #000
					border-radius: 3em
					&:hover
						background: #3d3d3d
						color: #fff
						text-decoration: none
		.fondo-enlace-chat
			position: fixed
			width: 100%
			height: 100vh
			top: 0
			left: 0
			cursor: pointer
			background: rgba(0,0,0,.35)
			z-index: 99
			display: none
			&.active
				display: block
