#map
	width: 100%
	min-height: 200px
	height: 500px
.main
	padding-top: 40px
	.columna
		padding-left: 40px
		padding-right: 40px
	.titulo
		color: #262a34
		font-size: 25px
		font-weight: 500
		font-family: 'Roboto', sans-serif
		margin-bottom: 20px
		text-align: center
	.widget
		margin-bottom: 40px
		form
			input[type="text"],
			textarea
				width: 100%
				padding: 10px
				margin-bottom: 20px
				font-family: 'Open Sans', sans-serif
				border: none
				box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2)
			input[type="text"]
				font-weight: 400
			textarea
				height: 200px
				min-height: 200px
				max-width: 100%
				min-width: 100%
			button
				background: #0275d8
				cursor: pointer
				color: #fff
				font-family: 'Roboto', sans-serif
				font-size: 18px
				font-weight: 500
				border: none
				display: inline-block
				padding: 10px
				width: 200px
				border-radius: 3px
				transition: all .3s ease
				&:hover
					background: #025aa5
// ESTIDISTICAS
.main
	.estadisticas
		.contenedor
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,.2)
		.caja
			background: #fff
			border: 1px solid #e3e3e3
			padding: 40px 20px
			flex: 1 //Permite que todas las cajas midan lo mismo
			text-align: center
			font-family: 'Roboto', sans-serif
			h3
				margin-bottom: 10px
				color: #35ae6b
			p
				color: #a8a8a8
				margin-bottom: 0
			&:first-child
				border-right: none
			&:last-child
				border-left: none


