main
	.register-user-commerce
		.formulario
			.imagen
				padding-bottom: 0.5em
				img
					width: 8.125em
					height: 7.125em
					border-radius: 50%
					width: 7.25em
					border: 6px solid rgba(255,255,255,0.2)
			.boton
				a
					background: #fff
					padding: 0.4em
					border-radius: 12px
					color: $aquamarina
					cursor: pointer
					&:hover
						background: $aquamarina
						color: #fff
						cursor: pointer
				button
					color: $aquamarina
					padding: 0.3em
					&:hover
						color: #fff
			.boton2
				margin-top: 0.5em
				button
					color: $aquamarina
					padding: 0.3em
					background: #fff
					border-radius: 12px
					border: 1px solid #fff
					&:hover
						color: #fff
						cursor: pointer
						background: $aquamarina
						border-color: $aquamarina
			.form-group
				input
					background: transparent
					color: #fff
					margin-left: 1em
					border: 1px solid #fff
					padding: 0.5em
					width: 18.75em
					border-radius: 15px
					&::placeholder
						color: #fff
						padding-left: 1em
			.checkbox
				color: #fff
				input[type="checkbox"]
					width: 1em
	.boton-complete
		display: flex
		justify-content: center
		width: 100%
		margin-top: 1em
		button
			color: $aquamarina
			padding: 0.4em
			background: #fff
			border-radius: 15px
			border: 1px solid #fff
			font-size: 1.2em
			&:hover
				color: #fff
				cursor: pointer
				background: $aquamarina
				border-color: $aquamarina
	#map
		width: 100vw
		height: 75vh

