.main-movimientos
	height: 100vh
	background: url(../img/fondoregistro.jpg) $aquamarina
	background-size: 100% 100%
	background-repeat: no-repeat
	.separador
		height: 2.2em
	.container
		width: 90%
		.tabla
			overflow-y: scroll
			height: 24em
			&::-webkit-scrollbar-thumb
				background-color: rgba(0, 0, 0, 0.2)
			&::-webkit-scrollbar
				width: 5px
			&::-webkit-scrollbar-corner
				background-color: rgba(0, 0, 0, 0.2)
			table
				border-collapse: separate
				border-spacing: 0
				thead
					border: 1px solid #fff
					color: $aquamarina
					font-size: 0.9em
					th
						border: 1px solid #fff
						background: #fff
						padding: 0.6em
						&:first-child
							border-top-left-radius: 10px
							border-bottom-left-radius: 10px
						&:last-child
							border-top-right-radius: 10px
							border-bottom-right-radius: 10px
				tbody
					color: #fff
					tr
						.monto,
						.detalle,
						.cuenta
							font-size: 0.8em
						.fecha
							font-size: 0.6em
						&:first-child
							border: 1px solid #fff
				&::-webkit-scrollbar-thumb
					background-color: rgba(0, 0, 0, 0.2)
				&::-webkit-scrollbar
					width: 5px
				&::-webkit-scrollbar-thumb
					background-color: rgba(0,0,0,0.2)




