main
	.chooselogin
		.titulo
			text-align: center
			margin-top: 3em
			.h1
				color: #fff
			.h2
				color: #fff
		.texto
			text-align: center
			margin-top: -4em
		.textocreate
			text-align: center
			margin-top: 0em
			color: #fff
			font-size: 0.9em
		.boton1
			margin-top: 11em
		.boton
			display: flex
			justify-content: center
			top: 0em
			button
				width: 12em
				border-radius: 25px
				padding: 0.7em
				background: #fff
				border-color: #fff
				border: none
				font-size: 1.1em
				font-weight: 700
				margin-top: 0.8em
				&:hover
					background: $aquamarina
					cursor: pointer
					a
						color: #fff
				a
					text-decoration: none
					color: $aquamarina
		.link
			text-align: center
			top: 4em
			a
				color: #fff
				text-decoration: none