.divisor
	height: 2em
.contenedor-changepassword
	padding-top: 2em
	padding-bottom: 2em
	margin: auto
	width: 50%
	max-width: 1000px
	display: flex
	flex-direction: row
	justify-content: center
	flex-wrap: wrap
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
	border-radius: 4px
	.form-group
		text-align: center
		input
			border: none
			border-bottom: 1px solid $aquamarina
		button
			background: $aquamarina
			color: #fff
			border: $aquamarina
			border-radius: 1.2em
			cursor: pointer
			padding: 0.5em
			&:hover
				background: $grisclaro
				border: $grisclaro
				color: $aquamarina
