.main-billeteracomercio
	width: 100%
	height: 12.5em
	display: flex
	justify-content: center
	.boton-movimientos
		margin-top: 2em
		a
			background: $aquamarina
			border-radius: 1.5em
			padding: 0.5em
			padding-right: 2em
			padding-left: 2em
			color: #fff
			font-size: 1.2em
			text-decoration: none
			&:hover
				background: $grisclaro
				color: $aquamarina
			img
				width: 1.3em
				padding-bottom: 0.3em
