.main-promo
	display: flex
	flex-direction: row
	flex-wrap: wrap
	.titulo
		padding-top: 0.5em
		width: 100%
		text-align: center
		p
			color: $aquamarina
			font-size: 1.6em
			font-weight: 700
	.contenedor
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		width: 50%
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.70)
		border-radius: 4px
		.group-checkall
			display: flex
			flex-direction: row
			width: 100%
			padding: 0.5em
			padding-top: 1em
			border-bottom: 1px solid $grisclaro
			.texto
				width: 50%
				display: flex
				justify-content: center
				p
					font-size: 1em
					color: $aquamarina
					font-weight: 700
			.input-checkall
				width: 50%
				display: flex
				justify-content: center
				padding-top: 0.55em
		.group-checkbox
			display: flex
			flex-direction: column
			width: 100%
			overflow-y: scroll
			height: 200px
			&::-webkit-scrollbar-thumb
				background-color: rgba(0, 0, 0, 0.2)
			&::-webkit-scrollbar
				width: 5px
			&::-webkit-scrollbar-corner
				background-color: rgba(0, 0, 0, 0.2)
			li
				width: 100%
				list-style: none
			.contacto
				height: 3em
				width: 100%
				display: flex
				flex-direction: row
				min-height: 3.125em
				border-bottom: 1px solid $grisclaro
				.imagen
					width: 40%
					text-align: center
					padding-top: 0.2em
					img
						height: 40px
						width: 40px
				.nombre
					width: 50%
					padding-top: 0.4em
				.input-single
					width: 30%
					text-align: left
					padding-top: 0.7em
		.mensaje
			width: 100%
			display: flex
			flex-direction: column
			.textarea
				width: 100%
				text-align: center
				padding-top: 0.5em
				textarea
					border-radius: 1em
					text-align: center
					width: 85%
					height: 80px
					border: 1px solid $aquamarina
					resize: none
			.boton
				width: 100%
				display: flex
				justify-content: center
				padding: 0.5em
				button
					width: 50%
					border-radius: 1em
					background: $aquamarina
					color: #fff
					font-size: 1.1em
					&:hover
						background: $grisoscuro
						color: #fff
