// <!--      NOTIFICACIONES  -->
.main-notificaciones
	background: $grisclaro
	height: 100vh
	.btn
		height: 1.8em
		padding-top: 0
		padding-bottom: 0
	.botones
		margin-top: 1em
		.izquierda,
		.derecha,
		.centro
			a
				text-decoration: none
				color: #000
				font-size: 0.9em
				font-family: $font-family2
				text-align: center
			background: #B5B6B6
			border-radius: 0
			border: none
		.derecha
			a
				padding: 1.8em
		.activo
			background: $aquamarina
			a
				color: #fff
	.botones2
		.commerceblock,
		.deleteall
			margin-right: 8em //Centrando elementos
			text-align: center
			a 
				text-decoration: none
			.texto
				font-family: $font-family2
				font-size: 0.75em
				text-align: center
				color: $grisoscuro
		.activobloqueados
			.texto
				color: #000
				font-weight: 700
	.notificaciones
		.notificacion
			padding-top: 0.5em
			border-top: 0.5px solid $grisintermedio
			border-bottom: 0.5px solid $grisintermedio
			border-right: 1px solid $grisintermedio
			border-left: 1px solid $grisintermedio
			padding-bottom: 0.5em
			.imagen
				img
					width: 3.12em
			.content
				.titulo
					font-family: $font-family2
					font-weight: 700
				.texto
					font-family: $font-family2
					font-size: 0.95em
					margin-top: -1em
			.btn-secondary
				background: $azulelectrico
				border: none
				margin-top: 1em
				a
					color: #fff
					text-decoration: none
			.iconos
				.close
					margin-right: -1em
					img
						width: 0.8em
				.bluealert
					margin-top: 1.6em
					border-radius: 100%
					background: $azulelectrico
					margin-left: 0.7em
				.datetime
					color: $grisoscuro
					font-size: 0.8em
					font-weight: 700
// COMERCIOS BLOQUEADOS
.main-notificaciones
	.bloqueados
		.bloqueado
			padding-top: 0.5em
			border-top: 0.5px solid $grisintermedio
			border-bottom: 0.5px solid $grisintermedio
			padding-bottom: 0.5em
			.imagen
				img
					width: 3.12em
			.content
				.titulo
					font-family: $font-family2
					font-weight: 700
					margin-top: 0.5em
			.btn-secondary
				background: $azulelectrico
				border: none
				margin-top: 0.5em
				a
					color: #fff
					text-decoration: none