.main
	.container
		width: 100%
		// max-width: 910px
		height: 600px
		overflow: scroll
	::-webkit-scrollbar-thumb
		background-color: rgba(0, 0, 0, 0.2)
	::-webkit-scrollbar-corner
		background-color: rgba(0, 0, 0, 0.2)
	::-webkit-scrollbar
		width: 5px
	a
		color: #000
		&:hover
			color: #fff
	.edit
		overflow-y: none
		overflow-x: scroll
		width: 650px
		height: 300px
	.table100-head
		th
			font-family: $font-family
			color: #fff
			font-size: 1.1em
			line-height: 1.2
			font-weight: unset
	.buscador
		margin-bottom: 1em
		color: #fff
		input
			color: black
		table
			border-spacing: 1
			border-collapse: collapse
			background: $aquamarina
			overflow: hidden
			width: 100%
			margin: 0 auto
			td,
			th
				padding-left: 0.5em
	table
		border-spacing: 1
		border-collapse: collapse
		background: $grisclaro
		border-radius: 10px
		overflow: hidden
		width: 100%
		margin: 0 auto
		td,
		th
			padding-left: 0.6em
			text-align: center
		thead
			tr
				height: 3.75em
				background: $aquamarina
				th
					input
						width: 10em
						border-radius: 0.35em
						margin: 0.3em
						border: none
					.btn-default
						color: $grisoscuro
						&:hover
							background: $grisoscuro
							color: #fff
		tbody
			tr
				height: 3.125em
				&:last-child
					border: 0
				&:hover
					background-color: $grisoscuro
					cursor: pointer
.main
	.miembros
		.btn-aqua
			background: $aquamarina
			color: #fff



