.main-datacommerce
	.container
		.datos
			display: flex
			justify-content: center
			padding-top: 0.5em
			.imagen
				text-align: center
				img
					border-radius: 50%
					width: 7.25em
					height: 7.25em
					border: 6px solid rgba(47,210,148,0.2)
			input
				margin: 0.5em
				background: transparent
				border: none
				border-bottom: 1px solid $aquamarina
				padding: 0.5em
				width: 300px
				&::placeholder
					color: #000
					padding-left: 1em
			.boton
				text-align: center
				button
					width: 100%
					border-radius: 25px
					padding: 0.5em
					background: $aquamarina
					color: #fff
					border-color: #fff
					border: none
					font-weight: 700
					margin-top: 1em
					&:hover
						background: $grisclaro
						color: $aquamarina
						cursor: pointer