.main
	.usuario
		background: url('../img/fondoperfilmiembro.png')
		background-size: 100%
		background-repeat: no-repeat
		overflow: hidden
		height: 19.8em
		.contenedor
			text-align: center
			.foto
				margin-top: 3em
				img
					margin-right: -4.5em  //Para que se centre la imagen con el boton verde
					vertical-align: top
					border-radius: 50%
					border: 6px solid rgba(255,255,255,0.2)
			.texto
				margin-top: 0.5em
				.nombre
					color: #fff
					font-family: $font-family2
					font-weight: 700
					font-size: 1.5em
					padding-bottom: 0.4em
				.numero
					color: #fff
					margin-top: -1em
					font-family: $font-family2
					font-weight: 400
					font-size: 1em
			.boton-verde
				float: right
				margin-right: 0.8em
				margin-top: -2em
				background: $verde
				border-radius: 0.5em
				padding: 0.15em
				.cuenta
					font-family: $font-family2
					font-weight: 400
					font-size: 1.3em
					color: #fff
					margin-bottom: 0.3em
				.texto
					font-family: $font-family2
					font-weight: 400
					font-size: 0.7em
					color: #fff
					margin-top: -1em
					margin-bottom: 0.2em
			.tuerca
				float: left
				background-color: transparent
				margin-left: 0.8em
				margin-top: -2em
			.barra-lateral-izquierda
				width: 13em
				position: fixed
				padding-bottom: 0.125em
				padding-left: 0
				top: 4.2em
				left: 2.4em
				z-index: 100
				background: #fff
				border-radius: 1em
				transform: translateX(-135%)
				transition: all .3s ease
				&.active
					transform: translateX(0%)
				nav
					padding: 0.5em
					border-radius: 2em
					a
						display: block
						display: flex
						justify-content: flex-start
						padding: 2px
						font-family: $font-family2
						color: #000
						border-radius: 3em
						&:hover
							background: #3d3d3d
							color: #fff
							text-decoration: none
	.fondo-enlace
		position: fixed
		width: 100%
		height: 100vh
		top: 0
		left: 0
		cursor: pointer
		background: rgba(0,0,0,.35)
		z-index: 99
		display: none
		&.active
			display: block
	.container
		margin-top: 4em
		height: 12em
		text-align: center
		button
			margin-bottom: 0.1em
		.btn
			border-top: 0.15em solid $verdesuave
			border-bottom: 0.15em solid $verdesuave
			border-left: 0.04em solid $aquamarina
			border-right: 0.04em solid $aquamarina
			border-radius: 20%
			font-size: 4em
			width: 2em
		.titulo1,
		.titulo2,
		.titulo3,
		.titulo4
			font-family: $font-family2
			text-align: center
			font-size: 1em
			color: $grisoscuro
				




