@media screen and (max-width: 1300px)
	.barra-lateral
		min-width: auto
		.logo
			display: none
		.menu
			a
				span
					display: none
				i
					margin: 0

@media screen and (max-width: 575px)
	.barra-lateral
		min-height: auto
		.menu
			a
				display: inline-block
				border-bottom: none
	.main
		.widget
			form
				button
					width: 100%

@media screen and (max-width: 685px)
	.main
		.edit
			width: 400px
