@media screen and (max-height: 450px)
	main
		.recoverpass
			.container
				.info
					margin-top: 0em
					.texto
						margin-top: 3em
					.form-group
						margin-top: 0em
				.boton-sendmail
					margin-top: -1.7em