@media screen and (max-width: 992px)
	.main-notificaciones
		.botones2
			.deleteall
				margin-right: 1em

@media screen and (max-width: 767px)
	.main-notificaciones
		.botones
			margin-top: 0
		.botones2
			.deleteall
				margin-right: 0em //reiniciando centrando de elementos
				.texto
					font-size: 0.6em
			.commerceblock
				margin-right: 2em

@media screen and (max-width: 575px)
	.main-notificaciones
		.notificaciones
			max-height: 350px
			overflow: scroll
			.notificacion
				.imagen
					padding-top: .8em
					margin-left: -2em
					img
						width: 3em
				.content
					padding-left: 1.4em
					.titulo
						font-size: 0.96em
						font-weight: 700
					.texto
						font-size: 0.90em
						margin-top: -1.2em
						line-height: 1em
				.btn-secondary
					width: 100%
					margin-top: -0.8em