@media screen and (max-width: 767px)
	body
		// background: url('../img/fondoregistro.jpg') $aquamarina
		// background-size: 165% 100%

@media screen and (max-height: 540px)
	body
		height: 100vh
	main
		.imagen
			top: 2em
			img
				width: 18em
				height: 18em
		.boton
			top: -2em
			button
				a
					font-size: 0.9em
		.texto
			top: 0em
		.link
			text-align: center
			top: 0em

@media screen and (max-height: 450px)
	main
		.imagen
			top: 0em
			img
				width: 18em
				height: 18em
		.boton
			top: -5em
		.texto
			top: -3em
		.link
			text-align: center
			top: -3em

