@media screen and (max-width: 767px)
	.main
		.menu-principal
			.container
				margin-top: 1em
				height: 10em
				text-align: center
				.btn
					border-top: 0.15em solid $verdesuave
					border-bottom: 0.15em solid $verdesuave
					border-left: 0.04em solid $aquamarina
					border-right: 0.04em solid $aquamarina
					border-radius: 20%
					font-size: 4em
					width: 2em

@media screen and (max-width: 575px)
	.main	
		.usuario
			.contenedor
				.texto
					.nombre
						font-weight: 700
						color: $grisoscuro
						padding-top: 0.2em
						padding-bottom: 0.2em
					.numero
						color: $grisoscuro
	.main
		.menu-principal
			.container
				margin-top: -3.8em
				height: 8em
				text-align: center
				button
					img
						width: 1em
						padding-bottom: 0.2em
				.titulo1
					margin-left: 2.4em
					margin-bottom: 2em
				.titulo2
					margin-right: 2.5em
					margin-bottom: 2em
				.titulo3
					margin-left: 2.4em
				.titulo4
					margin-right: 2.4em
				.btn
					background: #fff
					border-top: 0.15em solid $verdesuave
					border-bottom: 0.15em solid $verdesuave
					border-left: 0.04em solid $aquamarina
					border-right: 0.04em solid $aquamarina
					border-radius: 30%
					font-size: 3em
					width: 2em
				.btn1
					margin-left: .8em
				.btn2
					margin-right: .8em
				.btn3
					margin-left: .8em
				.btn4
					margin-right: .8em

@media screen and (max-width: 389px)
	.main
		.menu-principal
			.container
				.titulo1
					margin-left: 0em
					margin-top: .2em
				.titulo2
					margin-right: 0em
					margin-bottom: 2em
					margin-top: .2em
				.titulo3
					margin-left: 0em
					margin-top: .2em
				.titulo4
					margin-top: .2em
					margin-right: 0em
				.btn
					background: #fff
					border-top: 0.15em solid $verdesuave
					border-bottom: 0.15em solid $verdesuave
					border-left: 0.04em solid $aquamarina
					border-right: 0.04em solid $aquamarina
					border-radius: 30%
					font-size: 3em
					width: 2em
				.btn1
					margin-left: 0em
				.btn2
					margin-right: 0em
				.btn3
					margin-left: 0em
				.btn4
					margin-right: 0em