$aquamarina: #16A085
$azulelectrico: #2980B9
$azulcielo: #01A9DB
$grisoscuro: #808B96
$grisclaro: #EDEEED
$grisintermedio: #b4b5b6
$verdesuave: #48C9B0
$verde: #01DF74
$verdepasto: #5FB404
$degradadomenu: linear-gradient(to left, $azulelectrico, $verdesuave 50%)
$fondodegradado: linear-gradient(to bottom, $verdesuave, $azulcielo 100%)

$font-family: 'Roboto', sans-serif
$font-family2: 'PT Sans', sans-serif
$font-family3: 'Poppins', sans-serif
$font-size: 16px

body
	background: #f2f2f2
	font-size: 16px
	font-family: $font-family

@import barralateral-adminpanel
@import main-adminpanel
@import main-adminusers
@import mediaqueries-adminpanel