// Estilos front comercios pymcash
$aquamarina: #16A085
$azulelectrico: #2980B9
$azulcielo: #01A9DB
$grisoscuro: #808B96
$grisclaro: #EDEEED
$grisintermedio: #b4b5b6
$verdesuave: #48C9B0
$verde: #01DF74
$verdepasto: #5FB404
$degradadomenu: linear-gradient(to left, $azulelectrico, $verdesuave 50%)
$fondodegradado: linear-gradient(to bottom, $verdesuave, $azulcielo 100%)

$font-family: 'Roboto', sans-serif
$font-family2: 'PT Sans', sans-serif
$font-size: 16px

*
	margin: 0
	padding: 0

body
	background: #fff
	font-size: $font-size
	font-family: $font-family2

@import header-changepassword
@import header-commerce
@import header-datacommerce
@import header-billeteracomercio
@import header-movimientoscomercio
@import headerchat-comercio
@import main-home-commerce
@import main-locateusers
@import main-venta
@import main-datacommerce
@import main-billeteracomercio
@import main-movimientoscomercio
@import main-comprapymcash
@import main-comprapymcashpreview
@import main-promodecide
@import main-chatcomercio
@import main-promochat
@import main-promomail
@import main-notificacionescomercio
@import main-mensajeriacomercio
@import main-changepassword
@import mediaqueries-home-commerce
@import mediaqueries-locateusers
@import mediaqueries-ventas
@import mediaqueries-billeteracomercio
@import mediaqueries-comprarpymcash
@import mediaqueries-comprarpymcashpreview
@import mediaqueries-promochat
@import mediaqueries-promomail
@import mediaqueries-notificacionescomercio
@import mediaqueries-mensajeriacomercio
@import mediaqueries-chatcomercio
@import mediaqueries-changepassword