body {
  background: #f2f2f2;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

.barra-lateral {
  background: #262a34;
  color: #fff;
  min-width: 300px;
  min-height: 100vh;
  padding: 0; }
  .barra-lateral a {
    color: #fff; }
  .barra-lateral .logo {
    background: #16A085;
    margin-bottom: 2px;
    justify-content: center; }
    .barra-lateral .logo .imagen {
      text-align: center;
      padding: 2em; }
    .barra-lateral .logo img {
      text-align: center;
      width: 200px; }
  .barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .barra-lateral .menu a:hover {
      background: #16A085;
      text-decoration: none; }
    .barra-lateral .menu a i {
      margin-right: 20px;
      font-weight: normal; }

#map {
  width: 100%;
  min-height: 200px;
  height: 500px; }

.main {
  padding-top: 40px; }
  .main .columna {
    padding-left: 40px;
    padding-right: 40px; }
  .main .titulo {
    color: #262a34;
    font-size: 25px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    text-align: center; }
  .main .widget {
    margin-bottom: 40px; }
    .main .widget form input[type="text"],
    .main .widget form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-family: "Open Sans", sans-serif;
      border: none;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); }
    .main .widget form input[type="text"] {
      font-weight: 400; }
    .main .widget form textarea {
      height: 200px;
      min-height: 200px;
      max-width: 100%;
      min-width: 100%; }
    .main .widget form button {
      background: #0275d8;
      cursor: pointer;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 500;
      border: none;
      display: inline-block;
      padding: 10px;
      width: 200px;
      border-radius: 3px;
      transition: all 0.3s ease; }
      .main .widget form button:hover {
        background: #025aa5; }

.main .estadisticas .contenedor {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); }
.main .estadisticas .caja {
  background: #fff;
  border: 1px solid #e3e3e3;
  padding: 40px 20px;
  flex: 1;
  text-align: center;
  font-family: "Roboto", sans-serif; }
  .main .estadisticas .caja h3 {
    margin-bottom: 10px;
    color: #35ae6b; }
  .main .estadisticas .caja p {
    color: #a8a8a8;
    margin-bottom: 0; }
  .main .estadisticas .caja:first-child {
    border-right: none; }
  .main .estadisticas .caja:last-child {
    border-left: none; }

.main .container {
  width: 100%;
  height: 600px;
  overflow: scroll; }
.main ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }
.main ::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.2); }
.main ::-webkit-scrollbar {
  width: 5px; }
.main a {
  color: #000; }
  .main a:hover {
    color: #fff; }
.main .edit {
  overflow-y: none;
  overflow-x: scroll;
  width: 650px;
  height: 300px; }
.main .table100-head th {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.2;
  font-weight: unset; }
.main .buscador {
  margin-bottom: 1em;
  color: #fff; }
  .main .buscador input {
    color: black; }
  .main .buscador table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #16A085;
    overflow: hidden;
    width: 100%;
    margin: 0 auto; }
    .main .buscador table td,
    .main .buscador table th {
      padding-left: 0.5em; }
.main table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #EDEEED;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }
  .main table td,
  .main table th {
    padding-left: 0.6em;
    text-align: center; }
  .main table thead tr {
    height: 3.75em;
    background: #16A085; }
    .main table thead tr th input {
      width: 10em;
      border-radius: 0.35em;
      margin: 0.3em;
      border: none; }
    .main table thead tr th .btn-default {
      color: #808B96; }
      .main table thead tr th .btn-default:hover {
        background: #808B96;
        color: #fff; }
  .main table tbody tr {
    height: 3.125em; }
    .main table tbody tr:last-child {
      border: 0; }
    .main table tbody tr:hover {
      background-color: #808B96;
      cursor: pointer; }

.main .miembros .btn-aqua {
  background: #16A085;
  color: #fff; }

@media screen and (max-width: 1300px) {
  .barra-lateral {
    min-width: auto; }
    .barra-lateral .logo {
      display: none; }
    .barra-lateral .menu a span {
      display: none; }
    .barra-lateral .menu a i {
      margin: 0; } }
@media screen and (max-width: 575px) {
  .barra-lateral {
    min-height: auto; }
    .barra-lateral .menu a {
      display: inline-block;
      border-bottom: none; }

  .main .widget form button {
    width: 100%; } }
@media screen and (max-width: 685px) {
  .main .edit {
    width: 400px; } }

/*# sourceMappingURL=estilos4.css.map */
